body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:beige;
}

img {
  background-image: url("./jakob-rosen-KA1WM_yQGF8-unsplash.jpg");
  background-size: 100%;
  width: 600px;
  height: 370px;
  opacity: .8;
  border-style: double;
  background-repeat: no-repeat;
  
}